

#root {
  
  padding: 1rem;
  text-align: center;
  font-size: 20px;
}

section.bowling-games-container
{
  text-align: center;
  padding:2rem;
  background-color: rgb(51, 51, 219);
  display: grid;
  row-gap: 1em;
}

div.bowling-games-list
{
  display: grid;
  row-gap: 1rem;
}

article.bowling-game
{

  display: flex;
  
  
}

div.bowling-game-container
{
  display: flex;
  border:2px solid white;
}

div.bowling-game-padding
{
  flex:1;
}

div.bowling-player
{
  border-right: 2px solid white;
  padding-left:2rem;
  padding-right:2rem;
  display: flex;
  align-items: center; 
  justify-content: right;
  width:100px;
  overflow: hidden;
    
}

div.bowling-frame
{
  min-width: 60px;
  border-right:1px solid white;
}

div.bowling-frame .frame-first-line
{
  display: flex;
}

div.bowling-frame .frame-first-line div
{
  width:30px;
  text-align: center;
}

div.bowling-frame .frame-first-line div.boxed
{
  border-left:1px solid white;
  border-bottom:1px solid white;
}

div.bowling-frame .frame-second-line
{
  text-align: center;
}

div.bowling-result
{
  width:100px;
  justify-content: center;
  align-items: center; 
  display: flex;
  flex-direction: row; 
  font-weight: bold;
  
}


.delete-button-container
{
  display: flex;
  align-items: center;
  padding: 1rem;
}

button.delete-button
{
  padding:0px;
  display: flex;
  align-items: center;
  background-color: black;
  color:white;
}